*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0b0b0b;
  color: #eeebeb;
  height: 100%;
  width: 100%;
}

.nav {
  background-color: #afd6db;
  padding: 1rem;
  color: #222121;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin: 10px 5px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.card {
  background-color: #3c3e3e;
  padding: 1rem;
  color: #f7f5f5;
  border-radius: 20px;
  margin: 10px 5px;
  height: 450px;
  width: 400px;
  border: 1px solid #f7f5f5;
  text-align: center;
}

.card img {
  width: 180px;     
  height: 180px;    
  object-fit: cover;
  border-radius: 50%;
}

.card h2 {
  margin: 1rem 2rem;
}

.card button {
  padding: 1rem 3rem;
  background-color: #afd6db;
  color: #222121;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* responsive */
  margin-top: 20px;
}